// RunType = Run // Default 
RunType = ConfigOnly
// RunType = ConfigAndReport
// RunType = Test
// RunType = ReadConfigOnly
// Verbose = TRUE

StartYear   = 00
EndYear     = 01
NumYears    = 01
StepSize    = 1

InitialConditionFile              = MP2023_S00_G000_C000_U00_V00_SLA_I_00_00_V_vegty.asc+
EstFilename                       = MP2023_LaVegMod3_Establishment_Tables.xlsx
MortFilename                      = MP2023_LaVegMod3_Mortality_Tables.xlsxx
WetlandMorphLandWaterFile         = MP2023_S06_G501_C000_U00_V00_SLA_N_01_50_H_pwatr.asc
WetlandMorphYears                 = 01:01
WaveAmplitudeFile                 = MP2023_S06_G501_C000_U00_V00_SLA_N_01_50_H_wselv.asc
MeanSalinityFile                  = MP2023_S06_G501_C000_U00_V00_SLA_N_01_50_H_annsa.asc
SummerMeanWaterDepthFile          = MP2023_S06_G501_C000_U00_V00_SLA_N_01_50_H_sumdp.asc
SummerMeanSalinityFile            = MP2023_S06_G501_C000_U00_V00_SLA_N_01_50_H_sumsa.asc
SummerMeanTempFile                = MP2023_S06_G501_C000_U00_V00_SLA_N_01_50_H_sumtm.asc
TreeEstCondFile                   = MP2023_S06_G501_C000_U00_V00_SLA_N_01_50_H_trcon.asc
AcuteSalinityStressFile           = MP2023_S06_G501_C000_U00_V00_SLA_N_01_50_H_acsal.asc
BarrierIslandEstCondFile          = MP2023_S00_G000_C000_U00_V00_SLA_I_00_00_V_bicon.asc
BarrierIslandHeightAboveWaterFile = MP2023_S06_G501_C000_U00_V00_SLA_N_01_50_H_annht.asc
HeightAboveWaterFile              = MP2023_S06_G501_C000_U00_V00_SLA_N_01_50_H_annht.asc

OutputFile                        = not_used
OutputTemplate                    = MP2023_S06_G501_C000_U00_V00_SLA_O_<YEAR>_<YEAR>_V_vegty.asc+
OutputYears                       = 01

DeadFloatingTemplate              = MP2023_S06_G501_C000_U00_V00_SLA_O_<YEAR>_<YEAR>_V_deadf.asc
DeadFloatingYears                 = 01

SpeciesIndexNameFilename          = ./Tables/LaVegMod2_Establishment_Tables_JMV_SpeciesNameSpeciesIndex.csv

Intercept = 1.83
Temp = -0.03731
Sal = -0.07766
Depth = -0.0002588

