// RunType = Run // Default 
RunType = ConfigOnly
// RunType = ConfigAndReport
// RunType = Test
// RunType = ReadConfigOnly
// Verbose = TRUE

StartYear   = 00
EndYear     = 50
NumYears    = 50
StepSize    = 1

InitialConditionFile       = MP2023_S03_G030_C000_U00_V00_SLA_I_00_00_V_vegty.asc+
EstFilename                = LaVegMod2_Establishment_Tables_v14.xlsx
MortFilename               = LaVegMod2_Mortality_Tables_v14.xlsx
WetlandMorphLandWaterFile  = MPM2017_S01_G300_C000_U00_V00_SLA_N_01_50_H_pland.asc
WetlandMorphYears          = 01:50
WaveAmplitudeFile          = MPM2017_S01_G300_C000_U00_V00_SLA_N_01_50_H_wselv.asc
MeanSalinityFile           = MPM2017_S01_G300_C000_U00_V00_SLA_N_01_50_H_annsa.asc
SummerMeanWaterDepthFile   = MPM2017_S01_G300_C000_U00_V00_SLA_N_01_50_H_sumdp.asc
SummerMeanSalinityFile     = MPM2017_S01_G300_C000_U00_V00_SLA_N_01_50_H_sumsa.asc
SummerMeanTempFile         = MPM2017_S01_G300_C000_U00_V00_SLA_N_01_50_H_sumtm.asc
TreeEstCondFile            = MPM2017_S01_G300_C000_U00_V00_SLA_N_01_50_H_trcon.asc
BarrierIslandEstCondFile   = MPM2017_S01_G300_C000_U00_V00_SLA_I_00_00_V_bicon.asc
BarrierIslandHeightAboveWaterFile = MPM2017_S01_G300_C000_U00_V00_SLA_N_01_50_H_annht.asc

HeightAboveWaterFile       = MPM2017_S01_G300_C000_U00_V00_SLA_N_01_50_H_annht.asc


OutputFile                 = MPM2017_S01_G300_C000_U00_V00_SLA_O_01_50_V_vegty.asc+
OutputTemplate             = MPM2017_S01_G300_C000_U00_V00_SLA_O_<YEAR>_<YEAR>_V_vegty.asc+
OutputYears                = 01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50

DeadFloatingTemplate       = MPM2017_S01_G300_C000_U00_V00_SLA_O_<YEAR>_<YEAR>_V_deadf.asc
DeadFloatingYears          = 01,10,20,30,40,50
 
SpeciesIndexNameFilename   = ./Tables/LaVegMod2_Establishment_Tables_JMV_SpeciesNameSpeciesIndex.csv

Intercept = 1.83
Temp = -0.03731
Sal = -0.07766
Depth = -0.0002588

